:root {
  --color-purple-400: hsl(273, 97%, 60%);
  --color-purple-500: hsl(276, 96%, 67%);
  --color-grey-300: hsl(0, 0%, 80%);
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--color-grey-300);
  margin: 0;
  background-color: #161620;
  max-width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.external {
  font-weight: 500;
  color: hsl(278, 97%, 60%);
  text-decoration: none;
  transition: color 250ms ease;

  &:hover {
    color: hsl(274, 90%, 70%)
  }

  &:visited {
    text-decoration: none;
    color: hsl(280, 80%, 35%)
  }
}