.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;

  &__title {
    margin: 0;
    margin-top: 4rem;
    font-size: 3rem;
    text-align: center;
    line-height: 1;
  }

  &__subtitle {
    font-size: .9rem;
  }

  &__challenges {
    margin-top: 10rem;
    width: 100%;

    display: grid;
    justify-items: center;
    gap: 2rem 1rem;
    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.destaque {
  text-decoration: underline;
  color: hsl(278, 80%, 50%);
}